 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("images/jhhjj.jpg");
  background-position: 50% 50%;
  min-height: 970px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 50px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 631px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px 50px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  margin: 32px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: 40px auto 0 0;
  padding: 16px 52px 17px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 631px;
  background-image: url("images/ddd.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 21px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 464px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 234px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 770px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 70px 85px 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 140px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 140px;
  }

  .u-section-1 .u-image-1 {
    min-height: 596px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 754px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 792px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-2 {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 622px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 574px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 999px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 50px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 392px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 986px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 934px;
  margin: 60px auto 0;
}

.u-section-2 .u-image-1 {
  min-height: 567px;
  background-image: url("images/fgfgfgfggg.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 28px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 567px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  font-size: 3rem;
  margin: 19px 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 18px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
  background-image: none;
  border-style: solid;
  margin: 21px auto 0 0;
  padding: 15px 44px 15px 43px;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 10px));
  min-height: 254px;
  grid-gap: 15px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -45px 0 0 107px;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 45px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-2 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: -45px 0 0 107px;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 45px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-2 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: -45px 0 0 107px;
}

.u-section-2 .u-text-11 {
  font-style: italic;
  margin: 45px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 208px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 94px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-6 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 94px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-9 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: 94px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 437px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 498px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 678px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 427px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 3.75rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1215px;
}

.u-section-3 .u-image-1 {
  width: 473px;
  height: 473px;
  background-image: url("images/ghghh4.jpg");
  background-position: 50% 50%;
  margin: 149px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 610px;
  min-height: 354px;
  height: auto;
  margin: -285px auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  width: 189px;
  height: 189px;
  background-image: url("images/lkklklk.jpg");
  background-position: 50% 50%;
  margin: -805px auto 0 397px;
}

.u-section-3 .u-image-3 {
  width: 242px;
  height: 242px;
  background-image: url("images/gghghgh.jpg");
  background-position: 50% 50%;
  margin: 636px auto 0 328px;
}

.u-section-3 .u-group-2 {
  width: 454px;
  min-height: 308px;
  height: auto;
  margin: -390px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 600;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-3 .u-image-1 {
    width: 452px;
    height: 452px;
    margin-top: 168px;
  }

  .u-section-3 .u-group-1 {
    width: 503px;
    min-height: 363px;
    margin-top: -217px;
    height: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: -702px;
    margin-left: 264px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 576px;
    margin-left: 211px;
  }

  .u-section-3 .u-group-2 {
    width: 390px;
    min-height: 356px;
    margin-top: -485px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1803px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-group-1 {
    width: 610px;
    min-height: 535px;
    margin-top: 567px;
    margin-left: -19px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -1418px;
    margin-left: 68px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 1221px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: -1247px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1924px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 144px;
  }

  .u-section-3 .u-group-1 {
    min-height: 564px;
    margin-top: 512px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-3 .u-image-2 {
    width: 219px;
    height: 219px;
    margin-top: -1565px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 1324px;
  }

  .u-section-3 .u-group-2 {
    min-height: 462px;
    margin-top: -1277px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2020px;
  }

  .u-section-3 .u-image-1 {
    width: 263px;
    height: 263px;
    margin-top: 50px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 810px;
    margin-top: 740px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-2 {
    width: 180px;
    height: 180px;
    margin-top: -1624px;
  }

  .u-section-3 .u-image-3 {
    width: 120px;
    height: 120px;
    margin-top: 1432px;
    margin-right: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 308px;
    min-height: 564px;
    margin-top: -1501px;
    margin-bottom: 988px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 942px;
}

.u-section-4 .u-shape-1 {
  height: 536px;
  margin-top: 250px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  height: 654px;
  width: 937px;
  object-position: 0% 50%;
  margin: -715px 97px 0 auto;
}

.u-section-4 .u-group-1 {
  min-height: 368px;
  width: 611px;
  height: auto;
  margin: -192px 0 -119px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 40px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 4px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  text-align: center;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 18px 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-image-1 {
    height: 625px;
    width: 761px;
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-4 .u-shape-1 {
    height: 344px;
  }

  .u-section-4 .u-image-1 {
    height: 394px;
    width: 571px;
    margin-top: -481px;
    margin-right: 64px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 524px;
    margin-top: -158px;
    margin-bottom: -77px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.6875rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-4 .u-shape-1 {
    height: 281px;
    margin-top: 48px;
  }

  .u-section-4 .u-image-1 {
    height: 338px;
    width: 436px;
    margin-top: -413px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 384px;
    width: 387px;
    margin-top: -78px;
    margin-bottom: -84px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-4 .u-shape-1 {
    height: 239px;
    margin-top: 49px;
  }

  .u-section-4 .u-image-1 {
    height: 210px;
    width: 280px;
    margin-top: -312px;
  }

  .u-section-4 .u-group-1 {
    min-height: 536px;
    width: 283px;
    margin-top: 12px;
    margin-bottom: 11px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-1 {
    padding: 14px 37px 14px 36px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1047px;
}

.u-section-5 .u-image-1 {
  height: 846px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: -290px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 372px;
  grid-gap: 20px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-group-1 {
  width: 100px;
  min-height: 100px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  width: 51px;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-group-2 {
  width: 100px;
  min-height: 100px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-5 .u-text-3 {
  width: 51px;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-group-3 {
  width: 100px;
  min-height: 100px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-5 .u-text-5 {
  width: 51px;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 304px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 729px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1645px;
  }

  .u-section-5 .u-image-1 {
    height: 618px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
    margin-top: -62px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1626px;
  }

  .u-section-5 .u-image-1 {
    height: 444px;
    margin-top: 2px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  min-height: 1071px;
}

.u-section-6 .u-shape-1 {
  height: 780px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  width: 945px;
  height: 650px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -460px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-6 .u-group-1 {
  min-height: 541px;
  width: 625px;
  height: auto;
  margin: -868px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-text-1 {
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 15px 44px 15px 43px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1019px;
  }

  .u-section-6 .u-image-1 {
    width: 809px;
    height: 598px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-group-1 {
    min-height: 578px;
    width: 552px;
    margin-top: -817px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1386px;
  }

  .u-section-6 .u-shape-1 {
    height: 966px;
  }

  .u-section-6 .u-image-1 {
    width: 660px;
    height: 527px;
    margin-top: -140px;
    margin-right: calc(((100% - 720px) / 2) + -26px);
  }

  .u-section-6 .u-group-1 {
    min-height: 555px;
    width: 475px;
    margin-top: -1252px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1245px;
  }

  .u-section-6 .u-shape-1 {
    height: 890px;
  }

  .u-section-6 .u-image-1 {
    width: 493px;
    height: 394px;
    margin-top: -73px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-group-1 {
    margin-top: -1109px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1458px;
  }

  .u-section-6 .u-shape-1 {
    height: 749px;
    margin-top: 2px;
  }

  .u-section-6 .u-image-1 {
    width: 303px;
    height: 271px;
    object-position: 49.64% 50%;
    margin-top: 328px;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    min-height: 592px;
    width: 303px;
    margin-top: -1269px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 640px;
}

.u-section-7 .u-text-1 {
  font-size: 3.4375rem;
  margin: 60px 90px 0;
}

.u-section-7 .u-text-2 {
  width: 723px;
  font-size: 1.125rem;
  margin: 24px auto 0;
}

.u-section-7 .u-list-1 {
  width: 1097px;
  margin: 40px auto 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 234px;
  grid-gap: 32px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 21px auto 0;
}

.u-section-7 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-text-5 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-text-6 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 21px auto 0;
}

.u-section-7 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-text-8 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
}

.u-section-7 .u-container-layout-3 {
  padding: 20px;
}

.u-section-7 .u-text-9 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 21px auto 0;
}

.u-section-7 .u-text-10 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-text-11 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
}

.u-section-7 .u-container-layout-4 {
  padding: 20px;
}

.u-section-7 .u-text-12 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 21px auto 0;
}

.u-section-7 .u-text-13 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-text-14 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 590px;
  }

  .u-section-7 .u-text-4 {
    font-size: 6rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 6rem;
  }

  .u-section-7 .u-text-10 {
    font-size: 6rem;
  }

  .u-section-7 .u-text-13 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-10 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-13 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-text-12 {
    font-size: 1.125rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 707px;
}

.u-section-8 .u-group-1 {
  width: 1031px;
  min-height: 737px;
  height: auto;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  margin: -30px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 11px 27px;
}

.u-section-8 .u-gallery-1 {
  height: 514px;
  width: 950px;
  margin: 152px auto 0;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-item-22 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  padding: 30px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-text-1 {
  margin: -683px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 940px;
    margin-top: -57px;
    height: auto;
  }

  .u-section-8 .u-gallery-1 {
    width: 891px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    min-height: 718px;
    margin-top: -38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-gallery-1 {
    height: 523px;
    margin-top: 124px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    min-height: 715px;
    margin-top: -34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-gallery-1 {
    margin-top: 129px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    min-height: 662px;
    margin-top: -24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-1 {
    margin-top: 77px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -638px;
    margin-left: 23px;
    margin-right: 23px;
  }
} .u-section-9 {
  background-image: url("images/jhj-min.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 908px;
}

.u-section-9 .u-group-1 {
  width: 593px;
  min-height: 468px;
  height: auto;
  margin: 365px auto 60px 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 4px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-form-1 {
  height: 145px;
  width: 533px;
  margin: 20px auto 0;
}

.u-section-9 .u-input-1 {
  background-image: none;
  height: 55px;
}

.u-section-9 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  width: 100%;
  font-weight: 700;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-9 .u-group-1 {
    width: 508px;
    min-height: 463px;
    margin-top: 327px;
    height: auto;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-form-1 {
    width: 448px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 655px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    background-position: 59.47% 50%;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 425px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
    min-height: 529px;
    margin-top: 325px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 0;
  }

  .u-section-9 .u-form-1 {
    height: 157px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}